@charset "utf-8";

body {
  margin: 0px;
  line-height: 1.7;
  font-size: 18px;
}

main {
  margin-right: 70px;
  margin-left: 70px;
}
/*ボタンクリック前*/
.nav_toggle {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50px;
  right: 50px;
  z-index: 999;
}
.nav_toggle i {
  position: fixed;
  width: 100px;
  height: 5px;
  background-color: black;
  transition: transform .2s, opacity .2s;
  z-index: 999;
}
.nav_toggle i:nth-child(1) {
  margin-top: 10px;
}
.nav_toggle i:nth-child(2) {
  margin-top: 50px;
}
.nav_toggle i:nth-child(3) {
  margin-top: 90px;
}
/*ボタンクリック後*/
.nav_toggle.show {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50px;
  right: 50px;
  z-index: 999;
}
.nav_toggle.show i {
  position: fixed;
  width: 100px;
  height: 5px;
  background-color: black;
  transition: transform .2s, opacity .2s;
  z-index: 999;
}
.nav_toggle.show i:nth-child(1) {
  transform: translateY(40px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-40px) rotate(45deg);
}
/*メニューリストのcss、クリック前*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  text-align: center;
}
/*メニューリストのcss、クリック後*/
.nav.show {
  opacity: 1;
  visibility: visible;
  background-color: orange;
  z-index: 998;
  margin-top: 0%;
  text-align: center;
  vertical-align:middle;
  font-size: 6em;
}


h1 {
  text-align: center;
  font-size: 90px;
  font-family: sans-serif;
  color: orange;
}

.title {
  margin-left: 70px;
  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
}

.picture {
  margin: 500px 0px 650px 0px;
  animation-name: fadeinanimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeinanimation {
  from {
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}

ul {
  list-style: none;
}

article {
  border: 3px solid gray;
  padding: 0px 1em 1em 1em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
}

article {
  text-align: justify;
}

header section {
  margin-bottom: 400px;
}

main section {
  padding-bottom: 100px;
  border-bottom: 1px solid orange;
  margin-bottom: 100px;
}
